<template>
  <div>
      
      


<main id="main">

<!-- ====================================================== Specials Section ===================================== -->
<section class="specials about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Recherche</h2>
      <p>Resultats de la recherche</p>
    </div>

    <div class="row filter-horizontal">
      <div class="col-lg-6 col-sm-12 mx-auto filter">
        <ul class="nav nav-tabs">
          <li class="nav-link" style="width: 100%">
            <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="img/hero.jpg">
                <form class="d-flex tm-search-form">
                    <input class="tm-search-input" type="search" placeholder="Search" aria-label="Search">
                    <button class="tm-search-btn" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="#hero">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#hero">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#hero">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#hero">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">

      <!-- ========================================================== search filter categories ======================================================================--><div class="col-lg-3">
        <div class="filter-vertical">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-link">
              <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="img/hero.jpg">
                  <form class="d-flex tm-search-form">
                      <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
                      <button class="tm-search-btn" type="submit">
                          <i class="fas fa-search"></i>
                      </button>
                  </form>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Modi sit est</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Unde praesentium sed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Pariatur explicabo vel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Nostrum qui quasi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Iusto ut expedita aut</a>
            </li>
          </ul>

          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Modi sit est</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Unde praesentium sed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Pariatur explicabo vel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Nostrum qui quasi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Iusto ut expedita aut</a>
            </li>
          </ul>
        </div>

      <!-- ========================================================== premuim for search ======================================================================-->
        <div class="row tm-mb-90 tm-gallery">

          <div class="search-premuim-title">boutiques</div>

          <div class="col-xl-4 col-lg-4  col-md-2 col-sm-2 col-3 mb-1">
            <figure class="effect-ming tm-video-item">
              <div class="premuim-badge-search"></div>
              <img src="static/image/img-03.jpg" alt="Image" class="img-fluid">
              <figcaption class="d-flex align-items-center justify-content-center">
                <h6>Clocks</h6>
                <a href="photo-detail.html"></a>
              </figcaption>                 
            </figure>
            <div class="search-premuim-details">
              <h6 class="title">Clocks</h6>
              <span class=" ">2000 FCFA</span>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4  col-md-2 col-sm-2 col-3 mb-1">
            <figure class="effect-ming tm-video-item">
              <div class="premuim-badge-search"></div>
              <img src="static/image/img-04.jpg" alt="Image" class="img-fluid">
              <figcaption class="d-flex align-items-center justify-content-center">
                <h6>Plants</h6>
                <a href="photo-detail.html"></a>
              </figcaption>                    
            </figure>
            <div class="search-premuim-details">
              <h6 class="title">Plants</h6>
              <span class=" ">2000 FCFA</span>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4  col-md-2 col-sm-2 col-3 mb-1">
            <figure class="effect-ming tm-video-item">
              <div class="premuim-badge-search"></div>
              <img src="static/image/img-05.jpg" alt="Image" class="img-fluid">
              <figcaption class="d-flex align-items-center justify-content-center">
                <h6>Morning</h6>
                <a href="photo-detail.html"></a>
              </figcaption>                    
            </figure>
            <div class="search-premuim-details">
              <h6 class="title">Morning</h6>
              <span class=" ">2000 FCFA</span>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4  col-md-2 col-sm-2 col-3 mb-1">
            <figure class="effect-ming tm-video-item">
              <div class="premuim-badge-search"></div>
              <img src="static/image/img-06.jpg" alt="Image" class="img-fluid">
              <figcaption class="d-flex align-items-center justify-content-center">
                <h6>Pinks</h6>
                <a href="photo-detail.html"></a>
              </figcaption>                    
            </figure>
            <div class="search-premuim-details">
              <h6 class="title">Pinks</h6>
              <span class=" ">2000 FCFA</span>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4  col-md-2 col-sm-2 col-3 mb-1">
            <figure class="effect-ming tm-video-item">
              <div class="premuim-badge-search"></div>
              <img src="static/image/img-01.jpg" alt="Image" class="img-fluid">
              <figcaption class="d-flex align-items-center justify-content-center">
                <h6>Hangers</h6>
                <a href="photo-detail.html"></a>
              </figcaption>                    
            </figure>
            <div class="search-premuim-details">
              <h6 class="title">Hangers</h6>
              <span class=" ">2000 FCFA</span>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4  col-md-2 col-sm-2 col-3 mb-1">
            <figure class="effect-ming tm-video-item">
              <div class="premuim-badge-search"></div>
              <img src="static/image/img-02.jpg" alt="Image" class="img-fluid">
              <figcaption class="d-flex align-items-center justify-content-center">
                <h6>Perfumes</h6>
                <a href="photo-detail.html"></a>
              </figcaption>                    
            </figure>
            <div class="search-premuim-details">
              <h6 class="title">Perfumes</h6>
              <span class=" ">2000 FCFA</span>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4  col-md-2 col-sm-2 col-3 mb-1">
            <figure class="effect-ming tm-video-item">
              <div class="premuim-badge-search"></div>
              <img src="static/image/img-07.jpg" alt="Image" class="img-fluid">
              <figcaption class="d-flex align-items-center justify-content-center">
                <h6>Bus</h6>
                <a href="photo-detail.html"></a>
              </figcaption>                    
            </figure>
            <div class="search-premuim-details">
              <h6 class="title">Bus</h6>
              <span class=" ">2000 FCFA</span>
            </div>
          </div>

    </div>
  </div>
  </div>
  </div>


</section>
<!-- End Specials Section -->
</main>

  </div>
</template>
<script>
export default {
  
}
</script>
<style>   
</style>